<!DOCTYPE html>
<html>
<head>
  <title>OMEGACARE</title>
  <link rel="stylesheet" href="../index.css">
</head>

<body>
  <header>
    <a href="../index.html">
    <h1>OMEGACARE</h1>
    <p>We care for your health, anywhere and always.</p>
    </a>
  </header>

  <!-- TAB START -->
  <div id="topnav">
    <a href="../index.html">Hem</a>
    <a href="../navbar/about.html">Om Oss</a>
    <a class="active" href="../navbar/contact.html">Kontakt</a>
    <a href="../navbar/faq.html">FAQ</a>
  </div>
<!-- TAB END -->

  <div id="main">
  <p class ="contact-text">Kontakta oss.</p>
</div>

<footer>
  <h2>OMEGACARE</h2>
</footer>
</body>
</html>
